entrypoint = "unrealai/dashboard.py"
modules = ["python-3.11"]

run = "python3 -m streamlit run unrealai/dashboard.py --server.address 0.0.0.0 --server.port 3000 --server.headless true"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
build = "python3 -m pip install -r requirements.viewer.txt"
run = ["sh", "-c", "python3 -m streamlit run unrealai/dashboard.py --server.address 0.0.0.0 --server.port 3000 --server.headless true"]
deploymentTarget = "cloudrun"
