run = "streamlit run app.py --server.address 0.0.0.0 --server.port 3000 --server.headless true"

[deployment]
run = ["sh", "-c", "streamlit run app.py --server.address 0.0.0.0 --server.port 3000 --server.headless true"]
